.encabezado{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #4a4d50;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
.vcard .thumbnail {float:left}
		.vcard > ul {list-style:none;margin:10px 0 0 120px;overflow:hidden}
		.vcard > ul > li:first-child {border-top:1px dashed #dcdcdc}
		.vcard > ul > li {padding:8px;border-bottom:1px dashed #dcdcdc;overflow:hidden}
		.vcard .item-key {float:left;color:#888}
		.vcard .vcard-item {margin-left:120px}
		.vcard .v-heading {background:#F0F9FF;font-weight:700}
		.vcard .v-heading span {font-weight:100;font-size:11px;color:#666}
		.vcard .item-list-more,.vcard .thumbnail.item-list-more {display:none}